#container {
	width: 100%;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 20px;
}

#inputcontainer {
	width: 100%;
	box-sizing: border-box;
}

#results {
	width: 100%;
	padding: 0px 20px;
	box-sizing: border-box;
}
#domainlist {
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}
#domaininfo {
	/*display: none;*/
	width: 0;
	flex: 0;
	border: none;
	opacity: 0;
}

.domainresult {
	font-size: 14pt;
	padding-top: 5px;
	padding-bottom: 5px;
}

.domainresult .accordion-angle {
	margin-top: 2px;
	visibility: visible;
}

/*#results.unavailable .domainresult.selected {
	background: #f76892;
	background: -webkit-linear-gradient(to left, #f76892 , #8E54E9);
	background: linear-gradient(to left, #f76892 , #8E54E9);
}
#results.available .domainresult.selected {
	background: #4776E6;
	background: -webkit-linear-gradient(to left, #4776E6 , #8E54E9);
	background: linear-gradient(to left, #4776E6 , #8E54E9);
}*/

.domainresult .mobiledomaininfo {
	display: block;
	/*height: 0px;*/
	height: 0px;
	transition: all .5s;
}

.domainresult.selected .mobiledomaininfo {
	height: 75px;
	transition: all .25s;
}

#stickonscroll {
	background: rgba(255,255,255,0.5); /* fallback for old browsers */
	background: -webkit-linear-gradient(to bottom, #FFFFFF 60% , rgba(255,255,255,0)); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to bottom, #FFFFFF 60%, rgba(255,255,255,0)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
#stickonscroll.fixed {
	padding-right: 40px;
	padding-bottom: 40px;
	box-sizing: border-box;
	width: 100%;
	position: fixed;
	top: 0;

	pointer-events: none;
}

#stickonscroll.fixed > * {
	pointer-events: all;
}

#emptyspace {
	display: block;
}
