html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	min-height: 100%;
	/*min-height: 100%;*/

	font-family: "Rubik", sans-serif;

	overflow-x: hidden;
}

#container, #inputcontainer, #results, #domainlist, #domaininfo, .mobiledomaininfo {
	transition: all .25s;
}

body {
	background-color: #fcfcfb;
	position: relative;
	padding-bottom: 70px;

	color: #444;
}

#container {
	position: relative;
	margin: 0 auto;
	width: 400px;
	padding-top: 50px;
	min-height:100%;
	box-sizing: border-box;
	/*padding-bottom: 200px;*/
}

#inputcontainer {
	width: 400px;
	/*border: 1px solid rgba(0,0,0,0.15);*/
	display:block;
	/*text-align: left;*/
	padding: 7.5px 10px;
	border-radius: 22.5px;
	background-color: #fff;
	box-shadow: 0px 2px 5px rgba(0,0,0,0.15)/*, 0px 0px 20px #6568DC*/;

	cursor: text;

	overflow: none;

	background: #4568DC; /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #4568DC , #B06AB3); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #4568DC , #B06AB3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */



background: #43C6AC; /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #43C6AC , #191654); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #43C6AC , #191654); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


background: #ee0979; /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #ee0979 , #ff6a00); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #ee0979 , #ff6a00); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


background: #000428; /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #000428 , #004e92); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #000428 , #004e92); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */



background: #4776E6; /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #4776E6 , #8E54E9); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #4776E6 , #8E54E9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


background: #DD5E89; /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #DD5E89 , #F7BB97); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #DD5E89 , #F7BB97); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


background: #16A085; /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #16A085 , #F4D03F); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #16A085 , #F4D03F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


background: #73C8A9; /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #73C8A9 , #373B44); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #73C8A9 , #373B44); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

background: #403A3E; /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #403A3E , #BE5869); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #403A3E , #BE5869); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

background: #134E5E; /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #134E5E , #71B280); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #134E5E , #71B280); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

background: #4776E6; /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #4776E6 , #8E54E9); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #4776E6 , #8E54E9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.tag {
	position: relative;
	display: inline-block;
	padding: 2.5px 10px;
	margin: 5px 2.5px;
	padding-right: 20px;
	color: rgba(255,255,255,0.9);
	font-size: 10pt;
	border: 1px solid rgba(255,255,255,0.5);
	/*border: 1px solid #000;*/
	/*background-color: #fff;*/
	font-weight: 100;
	border-radius: 50px;
}

/*.tag:hover {
	background-color: rgba(255,255,255,0.2);
}*/

.tag .remove {
	position: absolute;
	/*width: 8px;
	height: 8px;*/
	font-size: 6pt;
	padding: 7px 7px;
	right: 1px;
	top: -0.5px;
	cursor:pointer;
}

.tag .remove:hover {
	opacity: 0.5;
}

#taginput {
	font-family: "Rubik", sans-serif;
	margin: 5px 2.5px;
	padding: 2.5px 5px;
	background: none;
	border: none;
	outline: none;
	font-size: 10pt;
	color: rgba(255,255,255,0.9);

	font-weight: 300;
}

#generate {
	display: block;
	background: none;
	outline: none;
	border: 1px solid #444;
	font-family: "Rubik", sans-serif;
	font-size: 10pt;
	border-radius:50px;
	margin: 10px auto;
	padding: 6px 20px;
	color: #444;
	cursor: pointer;

	font-weight: 100;
}

#generate:hover {
	background-color: #444;
	color: #fff;
}

.tiptext {
	display: inline-block;
	font-size: 7.5pt;
	font-weight: 500;
	color: #777;
	margin: 5px 0px;
}

#title {
	font-size: 22px;
	font-weight: black;
	/*font-style: italic;*/
	text-align: center;
	margin: 0;
}

#title a {
	text-decoration: none;
	color: inherit;
}

#title .green {
	color: #8E54E9;
}

#title .beta {
	font-size: 7pt;
	font-weight: 300;
	color: #8E54E9;
	display: none;
}

#description {
	font-size: 10pt;
	font-weight: 300;
	display: block;
	text-align:center;
	margin-bottom: 10px;
	color: #777;
}

.domainresult  {
	margin: none;
	vertical-align: center;
	padding: 3px 10px;
	font-size: 12pt;
	font-weight: 300;
	cursor: pointer;
	display: block;
	text-decoration: none;
	color: inherit;
}
.domainresult:hover{
	background-color: #eee;
}
.domainresult.selected {
	color: #fff;
}
#results.unavailable .domainresult.selected {
	background: #f76892;
	background: -webkit-linear-gradient(to left, #f76892 , #8E54E9);
	background: linear-gradient(to left, #f76892 , #8E54E9);
}
#results.available .domainresult.selected {
	background: #4776E6;
	background: -webkit-linear-gradient(to left, #4776E6 , #8E54E9);
	background: linear-gradient(to left, #4776E6 , #8E54E9);
}
.domainresult .accordion-angle {
	display: inline-block;
	float: right;
	margin-right: 2pt;
	opacity: 0;
	visibility: hidden;
}
.domainresult.selected .accordion-angle {
	margin-right: 0;
	opacity: 1;
}
.domainresult.selected .accordion-angle::before {
	content: "\f107" !important; /* fa-angle-down */
}

.domainresult .tld {
	display: inline-block;
	border-radius: 3px;
	background-color: #5b9b78;
	font-size: 9pt;
	font-weight: 500;
	color: #fff;
	padding: 3px 6px;
	margin: 0px 2.5px;
	vertical-align: center;

	cursor: pointer;
}

#textwidthchecker {
	position: absolute;
	visibility: hidden;
	height: auto;
	width: auto;
	white-space: nowrap;

	font-size: 10pt;
}

#footer {
	position: absolute;
	bottom: 20px;
	text-align: center;
	width: 100%;
	font-size: 10pt;
	/*visibility: hidden;*/
}

#results {
	margin: auto;
	margin-top: 40px;
	display: none;
	width: 500px;
	border-radius: 10px;
}
#results.available, #results.unavailable {
	display: flex;
}

#domainlist, #domaininfo {
	flex: 1;
	background:#fff;
	border: 1px solid;
	border-radius: 10px;
}
#results.available #domainlist, #results.available #domaininfo {
	border-color: #4776E6;
}
#results.unavailable #domainlist, #results.unavailable #domaininfo {
	border-color: #f76892;
}

#domainlist {
	/*margin-right: 20px;*/
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	min-height: 100px;
	padding: 10px 0;
}

#domaininfo {
	/*border-left-color: #f76892;*/
	border-left: none;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	/*	display: none;*/

	color: #fff;
}

#results.available #domaininfo {
	background: #4776E6;
}

#results.unavailable #domaininfo {
	background: #f76892;
}

#domaininfo > div {
	padding: 10px;
}

.availability {
	display: inline-block;
	font-size: 8pt;
	color: #fff;
}
.domainheader {
	font-size: 20px;
	margin: 0px;
	/*font-weight: 100;*/
	margin: 0px;
	padding: 0px;
	display: block;
	line-height: 0.8;
	padding-top: 4pt;
}


#results.available .availability .not {
	display:none;
}
#results.unavailable .availability .not {
	display:inline;
}

.mobiledomaininfo {
	display: none;
	height: 0;
	overflow: hidden;
}

#emptyspace {
	display: none;
}
